html,
body {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.main-section .header {
  align-self: center;
}

.main-section {
  display: flex;
  flex-direction: column;
  gap: 18px;
  width: min(500px, 90%);
}

.input-section {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

.task-input {
  width: 82%;
}

.error-text {
}

.task-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}


